# Clerk
CLERK_PUBLISHABLE_KEY=XXX
CLERK_SECRET_KEY=YYY

# Node
NODE_ENV=development

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=klink
POSTGRES_PORT=5432
POSTGRES_HOST=localhost